In [2]:
# Data is aquired from the company SQL Database, login credentials are required

#################################### Function Imports ##############################################

# OS allows us to check if the data is already stored on our computer
import os
# Pandas reads the data into the variable
import pandas as pd
# Holds login credentials for SQL Database in a seperate file not added to GitHub
# env should only be stored locally on your computer
# Add to your .gitignore file to ensure credentials not compromised by uploading online
from env import host, username, password

#################################### SQL Connection Function ##############################################

# Function uses Login credentials to create a connection to the company SQL database
# NOTE: BE SURE NOT TO ADD YOUR CREDENTIALS TO GITHUB WHEN RECREATING THE PROJECT
def get_db_url(db_name):

    '''
    Connect to the SQL database with credentials stored in env file.
    Function parameter is the name of the database to connect to.
    Returns url.
    '''
    
    # Creates the url and the function returns this url
    url = f'mysql+pymysql://{username}:{password}@{host}/{db_name}'
    return (url)

#################################### Acquire Zillow Home Data ##############################################

# Function connects to the SQL database to store the data in a variable which can be used throughout the project
# Saves the data as a .csv file, returns as a pandas data frame
def get_home_data():

    '''
    Connect to SQL Database with url function called within this function.
    Checks if database is already saved to computer in csv file.
    If no file found, saves to a csv file and assigns database to df variable.
    If file found, just assigns database to df variable.
    Returns df variable holding the  Home Value database.
    '''
    
    # data_name allows the function to work no matter what a user might have saved their file name as
    # First, we check if the data is already stored in the computer
    # First conditional runs if the data is not already stored in the computer
    if os.path.isfile('zillow_home.csv') == False:

        # Querry selects the whole dataframe, joing each table on their foriegn keys
        # We will have double columns on the foriegn keys because they are joined together
        sql_querry = '''
                        SELECT *
                        FROM properties_2017
                        ;
                    '''

        # Connecting to the data base and using the querry above to select the data
        # the pandas read_sql function reads the query into a DataFrame
        df = pd.read_sql(sql_querry, get_db_url('zillow'))

        # We do not need the duplicate columns from the foriegn tables being joined
        # df.columns.duplicated() returns a boolean array, True for a duplicate or False if it is unique up to that point
        # Use ~ to flip the booleans and return the df as any columns that are not duplicated
        # df.loc accesses a group of rows and columns by label(s) or a boolean array
        df = df.loc[:,~df.columns.duplicated()]

        # The pandas to_csv function writes the data frame to a csv file
        # This allows data to be stored locally for quicker exploration and manipulation
        df.to_csv('zillow_home.csv')

    # This conditional runs if the data has already been saved as a csv (if the function has already been run on your computer)
    else:
        # Reads the csv saved from above, and assigns to the df variable
        df = pd.read_csv('zillow_home.csv', index_col=0)

    return df

    # Code to remove duplicates of a df found at:
    # https://www.interviewqs.com/ddi_code_snippets/remove_duplicate_cols
    
########################################### Get Location Home Data ####################################################
def get_home_location():

    '''
    Connect to SQL Database with url function called within this function.
    Checks if database is already saved to computer in csv file.
    If no file found, saves to a csv file and assigns database to df variable.
    If file found, just assigns database to df variable.
    Returns df variable holding the  Home Value database.
    '''
    
    # data_name allows the function to work no matter what a user might have saved their file name as
    # First, we check if the data is already stored in the computer
    # First conditional runs if the data is not already stored in the computer
    if os.path.isfile('zillow_location.csv') == False:

        # Querry selects the whole dataframe, joing each table on their foriegn keys
        # We will have double columns on the foriegn keys because they are joined together
        sql_querry = '''
                        SELECT id as property_id, fips as county_id, latitude, longitude, taxamount, taxvaluedollarcnt 
                        FROM properties_2017
                        WHERE fips is not null 
                        AND latitude is not null 
                        AND longitude is not null 
                        AND taxamount is not null 
                        AND taxvaluedollarcnt is not null;
                    '''

        # Connecting to the data base and using the querry above to select the data
        # the pandas read_sql function reads the query into a DataFrame
        df = pd.read_sql(sql_querry, get_db_url('zillow'))

        # We do not need the duplicate columns from the foriegn tables being joined
        # df.columns.duplicated() returns a boolean array, True for a duplicate or False if it is unique up to that point
        # Use ~ to flip the booleans and return the df as any columns that are not duplicated
        # df.loc accesses a group of rows and columns by label(s) or a boolean array
        df = df.loc[:,~df.columns.duplicated()]

        # The pandas to_csv function writes the data frame to a csv file
        # This allows data to be stored locally for quicker exploration and manipulation
        df.to_csv('zillow_location.csv')

    # This conditional runs if the data has already been saved as a csv (if the function has already been run on your computer)
    else:
        # Reads the csv saved from above, and assigns to the df variable
        df = pd.read_csv('zillow_location.csv', index_col=0)

    return df

    # Code to remove duplicates of a df found at:
    # https://www.interviewqs.com/ddi_code_snippets/remove_duplicate_cols

In [2]:
df = get_home_data()

/usr/local/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df.isnull().sum()

id                                    0
parcelid                              0
airconditioningtypeid           2169855
architecturalstyletypeid        2979156
basementsqft                    2983590
bathroomcnt                        2957
bedroomcnt                         2945
buildingclasstypeid             2972486
buildingqualitytypeid           1043822
calculatedbathnbr                117156
decktypeid                      2967838
finishedfloor1squarefeet        2781459
calculatedfinishedsquarefeet      45097
finishedsquarefeet12             264431
finishedsquarefeet13            2977546
finishedsquarefeet15            2795032
finishedsquarefeet50            2781459
finishedsquarefeet6             2963735
fips                               2932
fireplacecnt                    2672093
fullbathcnt                      117156
garagecarcnt                    2094209
garagetotalsqft                 2094209
hashottuborspa                  2935155
heatingorsystemtypeid           1116053
latitude                           2932
longitude                          2932
lotsizesquarefeet                272706
poolcnt                         2445585
poolsizesum                     2957259
pooltypeid10                    2968211
pooltypeid2                     2952161
pooltypeid7                     2479322
propertycountylandusecode          2999
propertylandusetypeid              2932
propertyzoningdesc              1002746
rawcensustractandblock             2932
regionidcity                      62128
regionidcounty                     2932
regionidneighborhood            1828476
regionidzip                       12714
roomcnt                            2969
storytypeid                     2983594
threequarterbathnbr             2668860
typeconstructiontypeid          2978471
unitcnt                         1004175
yardbuildingsqft17              2903629
yardbuildingsqft26              2982571
yearbuilt                         47833
numberofstories                 2299541
fireplaceflag                   2980054
structuretaxvaluedollarcnt        46464
taxvaluedollarcnt                 34266
assessmentyear                     2933
landtaxvaluedollarcnt             59926
taxamount                         22752
taxdelinquencyflag              2928702
taxdelinquencyyear              2928700
censustractandblock               74985
dtype: int64

In [9]:
df_location = get_home_location()

In [10]:
df_location.head()

,property_id,county_id,latitude,longitude,taxamount,taxvaluedollarcnt
0,2,6037.0,33989359.0,-118394633.0,20800.37,1434941.0
1,3,6037.0,34148863.0,-118437206.0,14557.57,1174475.0
2,4,6037.0,34194168.0,-118385816.0,5725.17,440101.0
3,5,6037.0,34171873.0,-118380906.0,3661.28,287634.0
4,6,6037.0,34131929.0,-118351474.0,6773.34,563029.0

In [11]:
df_location.isnull().sum()

property_id          0
county_id            0
latitude             0
longitude            0
taxamount            0
taxvaluedollarcnt    0
dtype: int64

In [3]:
df = get_home_data()

/usr/local/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [7]:
df.numberofstories.value_counts()

1.0     426779
2.0     243078
3.0      15721
4.0         69
5.0         18
6.0          4
7.0          2
41.0         1
20.0         1
17.0         1
14.0         1
8.0          1
Name: numberofstories, dtype: int64